body{
    margin-top: 0%;

    background: url('balloon.jpg') no-repeat center center fixed;
    background-size: cover;
}
h1{
    padding-top: 150px;
    font-size: 75px;
    text-align:center;
    color:black;
} 
video{
    border: none;
}
#img1{
margin:0px auto;
}